<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Загальна черга</title>

</head>

<body>

    {% for i in time %}
        {% for j in busy  %}
            {% for k in department %}
               {% for t in week_day %}
                <p>{{k}}</p>
                <p>{{t}}</p>
                <p> {{i}}</p>
                <p> {{j}}</p>
                {% endfor %}
            {% endfor %}
       {% endfor %}
    {% endfor %}







</body>
</html>