<!DOCTYPE html>
<html>

	<header>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <center><b>Онлайн черга до Військомату</b></center>
		<a href="C:\Users\admin\Desktop\KursBD\KursBD\main\templates\main\registration.html" >Регистрация</a>
    </header>
<section>
  <h1>Оберіть Військомат</h1>
  <ul>
  <li>Деснянский</li>
    <ul>
    	<li>Вівторок</li>
    	<li>Четверг</li>
    </ul>
  <li>Дарницкий</li>
    <ul>
    	<li>Вівторок</li>
    	<li>Четверг</li>
    </ul>
  <li>Дніпровський</li>
    <ul>
    	<li>Вівторок</li>
    	<li>Четверг</li>
    </ul>
</ul>
</section>



<footer>
  <code>Створино за участі Міністрерства Оборони України</code>
</footer>

</html>