<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="action_page.php">
  <div class="container">
    <h1>Регистрация</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись..</p>
    <hr>
    <ul>
    <li>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Введите Email" name="email" required>
     </li>

     <li>
    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введите Пароль" name="psw" required>
     </li>

     <li>
    <label for="psw-repeat"><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите Password" name="psw-repeat" required>
     </li>

     <li>
    <label for="age"><b>Возраст</b></label>
    <input type="text" placeholder="Введите возраст" name="age" required>
     </li>

     <li>
    <label for="phone"><b>Номер телефона</b></label>
    <input type="text" placeholder="Введите возраст" name="phone" required>
     </li>

     <li>
    <label for="location"><b>Район</b></label>
    <input type="text" placeholder="Введите район" name="location" required>
     </li>

     <li>
    <label for="name"><b>Имя</b></label>
    <input type="text" placeholder="Введите имя" name="name" required>
     </li>

     <li>
    <label for="surnam"><b>Фамилия</b></label>
    <input type="text" placeholder="Введите фамилия" name="surname" required>
     </li>

     <li>
    <label for="frame"><b>Отчество</b></label>
    <input type="text" placeholder="Введите отчество" name="frame" required>
     </li>

     <li>
    <label for="passport"><b>Номер пасспорта</b></label>
    <input type="text" placeholder="Введите номер пасспорта" name="passport" required>
    </li>

</ul>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Регистрация</button>
  </div>

  <div class="container signin">
    <p>Есть акаунт? <a href="#">Войдите</a>.</p>
  </div>
</form>
</body>
</html>